*{
	margin: 0;
}
:root {
	--primary-dark: #0a66c2;
	--primary-light: #fff8f0;
	--neutral-dark: #131515;
	--neutral-light: #ffffff;
	--container-width: 1100px;
	--main-header: 30px;
	--sub-header: 24px;
}

/* buttons */
.btn-primary{
	background-color: var(--primary-dark);
}

.resources-landing-image-container {
	padding: 93px 0;
	background: linear-gradient(rgba(36, 29, 29, 0.5), rgba(36, 29, 29, 0.5)),
		url("/assets/images/landing.svg");
}

.resources-landing-container {
	/* border: 2px solid; */
	padding: 0 20px;
	max-width: 915px;
	min-height: 273px;
	display: flex;
	flex-flow: column wrap;
	justify-content: space-between;
	align-items: center;
	color: white;
	text-align: center;
}

.resources-landing-header {
	font-size: 40px;
}

.resources-landing-content {
	font-size: 20px;
}

.popular-resources-container {
	display: flex;
	flex-flow: column wrap;
}

.button-container {
	margin-top: 40px;
	display: flex;
	justify-content: center;
}

.popular-resource-button {
	color: var(--primary-dark);
}

/* resource section */
.resource-section-container {
	min-height: 506px;
    background: linear-gradient(rgba(36, 29, 29, 0.5), rgba(36, 29, 29, 0.5)),
		url("/assets/images/section.svg");
    display: flex;
    align-items: center;
    
}

.resources-section-tag {
	text-transform: uppercase;
	color: rgba(28, 28, 28, 0.5);
}

.resources-section-author,
.resources-section-date {
	color: rgba(28, 28, 28, 0.5);
	margin-bottom: 6px;
}

.resources-section-toggle {
	width: 90px;
	height: 41px;
	border: none;
	border-radius: 32.8px;
	padding: 4px 10px ;
	background: #fff;
	box-shadow: 0px 2.982px 4.473px -2.982px rgba(19, 21, 21, 0.21) inset,
		0px 0px 2.6px 0px rgba(19, 21, 21, 0.25);
    position: absolute;
    right: 20px;
    top: 20px;
    display: flex;
    justify-content: space-between;
}

.resources-toggle-circle{
    position: absolute;
    width: 34px;
    height: 34px;
    background-color: #C4C4C4;
	border: none;
    border-radius: 5em;
    left: 3px;
}

.resources-toggle-circle:hover{
	cursor: pointer;
}

.resources-toggle-text{
    height: 100%;
	line-height: 35px;
	margin-bottom: 0;
}

.toggle-background{
	background-color: var(--primary-dark);
}

.toggle-text-color{
	color: white; 
}

.move-circle-right{
	right: 3px;
	transform: right;
	transition: transform .4s;
	transform: translateX(50px);
}

.move-circle-left{
	left: 3px;
	transform: left;
	transition: transform .4s;
	transform: translateX(2px);
}
.sub-heading-health {
	font-size: var(--sub-header);
	font-weight: 600;
	max-width: 430px;
}

/* Carousel */

.carousel-card{
	border-radius: 10px;
}

.category{

	border: 2px solid;
}

.hide{
	display: none;
}



.category-card-body{
	padding-top: 0px;
}

.card-body-img>img{
	width: 100%;
	height: 100%;
}

.list-group-item{
	border: none;
	padding-left: 0;
}
.list-group-item:hover{
	cursor: pointer;
}
.carousel-container> .card{
	margin-bottom: 30px;
	border: none;
}


.category-container{
	box-shadow: 0px 2px 6px 0px rgba(19, 21, 21, 0.25);
	position: sticky;
	top: 80px;
	height: 330px;
	padding: 20px;
	border-radius:8px ;
}

.category-margin{
	margin-left: 0px;
}

.category-row-spacing{
	margin-top: 40px;
	margin-left:0 !important;
	margin-right:0 !important;
}

.page-item{
	padding-right: 15px;
}


.pagination a {
	border-radius: 10px!important;

  }


  .pagination a:hover{
	background-color: #0a66c2;
	border: 1px solid var(--primary-dark);
	color: #fff;
  }

  .spreader{
	display: flex;
	align-items: center;
	color: var(--primary-dark);
	padding-right: 15px;

  }
