@import url("https://fonts.googleapis.com/css2?family=Agbalumo&family=Lato&display=swap");
:root {
	--primary-dark: #0a66c2;
	--primary-light: #fff8f0;
	--neutral-dark: #131515;
	--neutral-light: #ffffff;
	--container-width: 1100px;
	--main-header: 30px;
	--sub-header: 24px;
}

* {
	box-sizing: border-box;
	font-family: lato;
	font-weight: 400;
}



/* Common */

/* Headings */
.main-heading {
	font-size: var(--main-header);
	font-size: 30px;
	font-weight: 400;
	line-height: 42px;
}

.sub-heading {
	font-size: var(--sub-header);
	font-weight: 600;
}



/* buttons */
.secondary-light-button {
	color: var(--primary-dark);
}

.light-button {
	width: 190px;
	height: 56px;
	border: 1px solid var(--primary-dark);
	border-radius: 8px;
	font-size: 18px;
	line-height: 22px;
}
.light-button:hover {
	background-color: var(--primary-dark);
	color: white;
	border: none;
}

.button-primary {
	width: 190px;
	height: 56px;
	background-color: var(--primary-dark);
	border-radius: 8px;
	font-size: 18px;
	line-height: 22px;
	color: white;
	border: none;
}



/* paragraph and headers */
.main-heading-line {
	margin-top: 16px;
	width: 63px;
	border: 2px solid var(--primary-dark);
	background-color: var(--primary-dark);
}

.main-heading-description {
	margin-top: 16px;
}

p {
	font-size: 18px;
}



/* spacing */
.margin-top-spacing {
	margin-top: 60px;
}

.flex-wrapping {
	flex-wrap: wrap;
	margin-bottom: 15px;
}

.grid-gap {
	row-gap: 30px;
}



/* Navbar */
.navbar-outer-container {
	width: 100vw;
	background: var(--white, #fff);
	box-shadow: 0px 2px 6px 0px rgba(19, 21, 21, 0.25);
}

.logo {
	width: 161px;
	height: 53px;
	object-fit: contain;
}

.toggle-search {
	display: none;
}

.search-icon {
	width: 48px;
	height: 48px;
	border-radius: 50%;
	object-fit: contain;
	background-color: var(--primary-dark);
}



/* sexual health and rights */
.health-and-rights-position {
	display: flex;
	align-items: center;
	flex-flow: row wrap-reverse;
}

.accessible {
	width: 48px;
	height: 48px;
	border: 1.5px solid var(--primary-dark);
	border-radius: 50%;
	position: absolute;
	right: 0;
	object-fit: contain;
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--primary-dark);
}

.health-and-rights-left {
	width: 634px;
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
}

.health-and-rights-image{
	height: 330px;
}

.buttons {
	width: 405px;
	display: flex;
	justify-content: space-between;
}

.buttons > button {
	width: 190px;
}



/* Helpful reads */
.helpful-topics {
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	align-items: center;
}

.card-container {
	background-color: rgb(20, 55, 86);
	display: flex;
	flex-wrap: wrap;
}

.card-size {
	width: 350px;
	height: 307px;
	position: relative;
}

.card-size::before {
	content: "";
	width: 90px;
	height: 45px;
	position: absolute;
	top: -43px;
	border-radius: 10rem 10rem 0 0;
	border: 2px solid var(--primary-dark);
	z-index: 1;
	margin: auto;
	left: 0;
	right: 0;
	border-bottom: 3px solid white;
}

.card-size > img {
	width: 60px;
	height: 60px;
	position: absolute;
	top: -32px;
	margin: auto;
	left: 0;
	right: 0;
	object-fit: contain;
	z-index: 2;
}

.card-inner-contents {
	display: flex;
	flex-flow: column;
	justify-content: center;
	border: 2px solid var(--primary-dark);
	position: relative;
}

.helpful-topics-link {
	display: inline;
	width: 125px;
}

.helpful-topics-container {
	flex-wrap: wrap;
	gap: 55px 10px;
	margin-top: 104px;
}



/* Resources Category */
.resources-container {
	width: 100vw;
	min-height: 423px;
	background-color: #f2f7fc;
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
}

.resources-flex {
	flex-wrap: wrap;
	gap: 20px;
}

.category-content {
	width: 255px;
	height: 192px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.category-content::before{
	content: '10';
	width: 65px;
	height: 30px;
	border: none;
	border-radius: 1px 4px 5px 5px;
	background-color: var(--primary-dark);
	position: absolute;
	right: 0;
	top: 0;
	text-align: center;
	color: white;
}

.category-content-sex::before{
	content: '6';
}

.category-content > img {
	width: 60px;
	height: 110px;
}

.category-content p {
	width: 100%;
	text-align: center;
}



/* Popular resources */
.popular-resources-container {
	margin-top: 60px;
}

.popular-card-style {
	width: 350px;
	height: 410px;
	border: 2px solid var(--primary-dark);
	border-radius: 10px;
	position: relative;
}

.popular-card-style::before {
	content: "Audio";
	margin: auto;
	width: 160px;
	height: 44px;
	background-color: var(--primary-dark);
	position: absolute;
	left: 0;
	right: 0;
	border: none;
	border-radius: 0px 0px 20px 20px;
	text-align: center;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
}

.video-before-content::before {
	content: "Video";
}

.pdf-before-content::before {
	content: "Pdf";
}

.position-img {
	margin-top: 64px;
	width: 100%;
	height: 159px;
	padding: 0 20px;
}



/* Nearest Hospital  */
.hospital-container {
	max-width: 1140px;
	margin-top: 60px;
}

.hospital-map {
	width: 100%;
	height: 100%;
}

.bottom-padding {
	padding-left: 0;
	padding-right: 0;
}

.bottom-space {
	margin-top: 20px;
	padding-left: 0;
	padding-right: 0;
}



/* App Download */
.download-container {
	margin-top: 113px;
	width: 1100px;
	height: 367px;
	border: none;
	border-radius: 20px;
	background-color: #2f7dcb;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	color: white;
}

.mockup-img-container {
	width: 301px;
	height: 100%;
	position: relative;
}

.mockup-img-container > img {
	height: 420px;
	width: 100%;
	position: absolute;
	bottom: 0;
}

.download-content {
	width: 615px;
}

.download-content > h1 {
	text-transform: uppercase;
}

@media (max-width: 1130px) {
	.download-container {
		max-width: 97vw;
	}
	.mockup-img-container > img {
		padding-left: 20px;
		height: 100%;
		bottom: 0px;
	}
	.download-content {
		width: 500px;
	}
}

@media (max-width: 730px) {
	.download-container {
		flex-flow: column;
		height: 700px;
		flex-direction: column-reverse;
		justify-content: space-between;
	}
	.mockup-img-container {
		width: 100%;
		height: 60%;
		object-fit: cover;
	}

	.mockup-img-container > img {
		padding: 0;
		height: 100%;
	}

	.download-content {
		margin-top: 55px;
		height: 35%;
		width: 70%;
	}

	.download-content > h1 {
		font-size: 15px;
		line-height: 22px;
	}
	.download-content p {
		font-size: 13px;
	}

	.download-content button {
		width: 130px;
		height: 40px;
		font-size: 13px;
	}
}

/* footer */
.footer-container {
	margin-top: 60px;
}

.footer-logo {
	margin-bottom: 10px;
}

.social-media > img {
	width: 34px;
	height: 34px;
}

.footer-nav-link {
	color: black;
}

.contact-information-design::before {
	content: "";
	margin: auto;
	width: 268px;
	height: 9px;
	border: none;
	border-radius: 0 0 5px 5px;
	left: 0;
	right: 0;
	top: -13px;
	background-color: var(--primary-dark);
	position: absolute;
}

.contact-information > img {
	width: 24px;
	height: 24px;
	margin-right: 15px;
}


/* Copyright */
.copyright {
	width: 100vw;
	height: 85px;
	display: flex;
	flex-flow: column wrap;
	align-items: center;
	justify-content: center;
	border-top: 2px solid #7d7979;
}

.copyright > p {
	font-size: 14px;
	margin-bottom: 0;
	color: #7d7979;
}
